# JavaScript e TypeScript
*.js linguaggio=JavaScript
*.jsx linguaggio=JavaScript  # React con JavaScript
*.ts linguaggio=TypeScript
*.tsx linguaggio=TypeScript  # React con TypeScript

# Vue.js
*.vue linguaggio=Vue

# CSS e Tailwind
*.css linguaggio=CSS
*.scss linguaggio=CSS
*.tailwind.css linguaggio=CSS

# Configurazioni React e Vite
vite.config.js linguaggio=JavaScript
*.env linguaggio=ignora
*.config.js linguaggio=JavaScript

# Ignora cartelle non rilevanti
node_modules/* linguaggio=ignora
dist/* linguaggio=ignora
build/* linguaggio=ignora
public/* linguaggio=ignora
